.indexSection {
    margin: 6px;
}


.foto {
    height: 450px;
    width: 800px;
    margin-right: 200px;
}


.foto2 {
    height: 450px;
    width: 800px;
    margin-right: 200px;
    margin-top: -480px;
}