* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}


.firstBody {
    background-image: url(../assets/img/fondopag1.png);
    background-repeat: none;
}

.secondBody {
    background-image: url(../assets/img/fondocrono1.jpg);
    background-repeat: none;
}

.bodyCrono2 {
    background-image: url(../assets/img/fondo2.jpg);
    background-repeat: none;
}

.tercerBody {
    background-image: url(../assets/img/fondorer7.jpg);
    background-repeat: none;
}

.cuartoBody {
    background-image: url(../assets/img/fondo5.jpg);
    background-repeat: none;
}